    /*Обнуление*/
    *{
        padding: 0;
        margin: 0;
        border: 0;
    }
    *,*:before,*:after{
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    :focus,:active{outline: none;}
    a:focus,a:active{outline: none;}

    nav,footer,header,aside{display: block;}

    html,body{
        height: 100%;
        width: 100%;
        font-size: 100%;
        line-height: 1.5;
        font-size: 14px;
        -ms-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }
    input,button,textarea{font-family:inherit;}

    input::-ms-clear{display: none;}
    button{cursor: pointer;}
    button::-moz-focus-inner {padding:0;border:0;}
    a, a:visited{text-decoration: none;}
    a:hover{text-decoration: none;}

    img{vertical-align: top;}

    h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

    /*Code*/

    .header
    {
        text-align: center;
        font-size: 21px;
        background-color: black;
        padding: 250px 80px;
        line-height: 30px;
        color: whitesmoke;
        border-radius: 0px 0px 50px 50px;
    }
    h1
    {
        font-size: 35px;
    }
    body
    {
        font-family: Comic Sans MS, "Helvetica Neue", Helvetica, sans-serif;
    }

    .links
    {
        margin-right: 30px;
        font-size: 16px;
        display: inline-block;
    }
    .dline
    {
        line-height: 40px;
    }

    h2
    {
        font-size: 21px;
    }

    .header_nav a
    {
        text-decoration: none;
        padding: 0 10px; 
        color: whitesmoke;
    }
    .header_nav li:first-child a
    {
        padding-left: 0;
    }
    .header_nav a:hover
    {
        text-decoration: underline;
        color: lightgray;
    }
    nav ul
    {
        list-style: none; 
        padding: 0; 
    }
    .info p
    {
        font-size: 16px;
    }

    .flex-container
    {
        padding: 30px 200px;
        height: auto;
        width: 80%;
        border-right: 3px solid black;
    }
    .showcase
    {
        display: flex;
        width: 20%;
        height: auto;
        padding-top: 30px;
    }
    .info2
    {
        margin: auto;
        margin-top: 0px;
    }
    .content
    {
        display: flex;
        background-color: #fff;
    }

    #line
    {
        background-color: black;
    }
    #hardskills
    {
        text-align: center;
        margin-top: 10px;
    }
    
    table 
    {
        border-collapse: separate; 
        border-spacing: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bothhead{
        width: 100px;
        height: 100px;
        background-color: whitesmoke;
        text-align: center;
        vertical-align: middle;
        line-height: 75px; 
        text-shadow:
        0px 20px 0px rgb(0 0 0), 
        0 0 1em rgb(255 255 255), 
        0 0 2em black;
        border-radius: 10px;
        transition: all 0.3s ease;
    }
    .bothhead:hover{
        background-color: black;
        color: whitesmoke;
        text-shadow:
        0px 20px 0px rgb(255, 255, 255), 
        0 0 1em rgb(0, 0, 0), 
        0 0 2em rgb(255, 255, 255);
        border: 3px solid rgb(255, 255, 255);
        z-index: 9999999999;
    }
    #lefthead{
        float: left;
    }
    #righthead{
        float: right;
    }
    #cursor {
        cursor: none;
        --size: 20px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999999999999;
        height: var(--size);
        width: var(--size);
        background-color: #fff;
        border-radius: 50%;
        transform: translate3d(
          calc(100vw * var(--cursor-x) - var(--size) / 2), 
          calc(100vh * var(--cursor-y) - var(--size) / 2), 
          0);
        pointer-events: none;
        mix-blend-mode: difference;
    }
    .dot {
        width: 20px;
        height: 20px;
        border-radius: 80%;
        box-shadow: 0 0 2px #ffffff; 
        background-color: #ffffff;
        z-index: 99999999999999;
        mix-blend-mode: difference;
        position: absolute;
        pointer-events: none;
      }
    body{
        cursor: none;
        overflow-x:hidden;
    }
    a:hover{
    cursor: none;
    }
    #proofs {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
    }
    #git{
        margin: 10px;   
        border-collapse: separate;
        border-spacing: 150px 0px;
    }
    
    html::-webkit-scrollbar {
        display: none;
    }
    #headOfHead{
        color: rgba(255, 255, 255, 0.1);
        background-color: black;
        text-align: center;
    }