/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1.5;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*Code*/


.header{
    text-align: center;
    font-size: 21px;
    background-color: black;
    padding: 20px 80px;
    line-height: 30px;
    color: whitesmoke;
}
h1{
    font-size: 35px;
}
body{
    font-family: Comic Sans MS, "Helvetica Neue", Helvetica, sans-serif;
}

.links{
    margin-right: 30px;
    font-size: 16px;
    display: inline-block;
}
.dline{
    line-height: 40px;
}

h2{
    font-size: 21px;
}

h3{
    font-size: 21px;
}

.header_nav a{
    text-decoration: none;
    padding: 0 10px; 
    color: whitesmoke;
}
.header_nav li:first-child a{
    padding-left: 0;
}
.header_nav a:hover{
    text-decoration: underline;
    color: lightgray;
}
nav ul{
    list-style: none; 
    padding: 0; 
}
.info p{
    font-size: 16px;
}

.flex-container{
    padding: 30px 200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    border: 3px solid black;
}
.showcase{
    display: flex;
    width: 20%;
    border: 3px solid black;
    padding-top: 30px;
   
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

#line{
    background-color: black;
}